
.inputCl{
    background: wheat;
    width: 10vw;
    height: 3vh;
    text-align: center;
    border: none;
    outline: none;
}
.labelT{
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding:10px;
    border: 2px solid rgba(135, 135, 135, 0.197);
    border-radius: 4px;
    animation-name: slidein;
    animation-duration: 1s;
}
.formClass{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttonT{
    margin-left: 8px;
    padding: 4px;
    font-size: 24px;
    background: rgba(234, 104, 18, 0.653);
    border: 1px solid #000000;
    border-radius: 10px;
}
.buttonT:last-child{
    margin-right: 8px;
}
.button-container{
    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid rgba(135, 135, 135, 0.197);
    border-radius: 4px;
}
@keyframes slidein {
    from {
      opacity: 0;
    }
    to{
        opacity: 100;
    }
}