.form{
    background-color:wheat;
    border-radius: 5px;
    width: 550px;
    height: 60vh;
    margin: 20px auto;
    padding: 20px;
    animation-name: slidein;
    animation-duration: 1s;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}


@keyframes slidein {
    from {
      opacity: 0;
    }
    to{
        opacity: 100;
    }
}